html, #containsMain{
  height: 100%;
}

body{
  text-align: center;
  height: 100%;
}

ul {
  padding: 0%;
  list-style-type: none;
  margin: 0;
}

ul li{
  display: inline-block;
  padding: 5px;
}

ul li a {
  text-decoration: none;
}

ul li a:hover{
  text-decoration: underline;
}

.App {
  background-color: #222;
  height: 82px;
  padding-top: 20px;
  color: white;
}



h2 {
  padding-top: 20px;
}

footer {
  height: 45px;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
}
